<div id="home_sign_in" class="row">
	<div id="twitter_bird" class="span1">
		<%= image_tag('twitter.png') %>
	</div>
	<div id="sign_in_holder" class="span9 offset2">
		<h5 id="already_a_member"> Already a member? </h5>
		<%= text_field_tag 'email' %> <%= text_field_tag 'password' %> <%= submit_tag 'Sign In', :class => 'btn', :id => 'sign_in_button' %>
	</div>
</div>
<div class="line">
	<br>
	<br>
	<br>
	<h3 class="hook"> Startup Social is a platform that helps entrepreneurs engage in their local startup community  </h3>
</div>
<div id="lightbulb">
	<%= image_tag('lightbulb-logo.png') %>
</div>
<div class="line">
	<br>
	<br>
	<br>
	<h3 class="hook"> Startup Social is a platform that helps entrepreneurs engage in their local startup community  </h3>
	<h1 class="section_header">Community Dashboard</h1>
</div>
<div class="screenshot">
	<%= image_tag('05-community-dashboard.png') %>
</div>
<div class="line">
	<br>
	<br>
	<br>
	<h3 class="hook"> Startup Social is a platform that helps entrepreneurs engage in their local startup community  </h3>
	<h1 class="section_header">Entrepreneur Profile</h1>
</div>
<div class="screenshot">
	<%= image_tag('06-entrepreneur-profiles.png') %>
</div>
<div class="line">
	<br>
	<br>
	<br>
	<h3 class="hook"> Startup Social is a platform that helps entrepreneurs engage in their local startup community  </h3>
	<h1 class="section_header">Startup Profile</h1>
</div>
<div class="screenshot">
	<%= image_tag('14-startup-profiles.png') %>
</div>
<div class="line">
	<br>
	<br>
	<br>
	<h3 class="hook"> We're currently building and testing our MVP  </h3>
	<h3 class="hook"> You can gain early access before we open our doors to the public by requesting an invite below </h3>
</div>
<div id="login-box">
	<%= render 'form' %>
</div>